# Configuration file

####################
# block
####################

block {
    I:blockEnderOre=4093
}


####################
# item
####################

item {
    I:enderDust=4700
}


####################
# world generation
####################

"world generation" {
    # Comma-seperated list of dimensions to ignore
    S:"Dimension Blacklist"=
    B:"Generate Ore"=true
    I:"Ore Deposit Size"=6
    I:"Ore Frequency"=8
    I:"Ore Max Height"=32
    I:"Ore Min Height"=1

    # Change to regenerate ore
    S:"Regeneration Key"=DEFAULT
    B:"Spawn Endermen"=true
}


