# Configuration file

####################
# block
####################

block {
    I:blockMultipart.id=3852
    I:chunkloader.id=3855
    I:peripherals.block.id=3854
    I:peripherals.lan-wire.id=3853
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,263:0=12000,1=60,331=1200,4=20,348=2400,3=20,112=200,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2

    # If true, chunkloaders placed by a player will only load chunks while that player is online.
    B:chunkloader.requireOnline=false
    B:chunkloader.useFuel=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
}


####################
# item
####################

item {
    I:itemSaw=31669
    I:peripherals.component=31670
    I:peripherals.magstripe=31671
    I:peripherals.rfid=31672
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


